# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
MANIFEST

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm project settings
.idea/

# Spyder project settings
.spyderproject
.spyproject

# Environment files
.env
.venv
env/
venv/

# Operating system files
.DS_Store # macOS
Thumbs.db # Windows

# Logs and databases
*.log
db.sqlite3

# Virtual environments
venv/
ENV/

# Python bytecode
__pycache__/
*.py[cod]

# Installation logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Flask stuff:
instance/
.webassets-cache

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# mypy
.mypy_cache/

# datasets
charles/data/
aman/1995 Plots/Data

